{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Codex: Culinary{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <section>
        <h1><a href="{% url 'today_meals' %}">Codex: Culinary</a></h1>
        <header>
            <nav>
                <ul>
                    <li><a href="/" class="nav-bar">Home</a></li>
                    <li><a href="{% url 'recipes:recipe_list' %}" class="nav-bar">Recipes</a></li>
                    <li><a href="#" class="nav-bar">Meal Schedule</a></li>
                    <li><a href="{% url 'recipes:add_recipe' %}" class="nav-bar">Add Recipe</a></li>
                    <li><a href="{% url 'recipes:import_recipes_csv' %}" class="nav-bar">Import CSV</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:profile' %}" class="nav-bar">Profile ({{ user.username }})</a></li>
                    <li class="nav-bar">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-bar">Log Out</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}" class="nav-bar">Log In</a></li>
                    <li><a href="{% url 'accounts:register' %}" class="nav-bar">Register</a></li>
                    <li><a href="{% url 'password_reset' %}" class="nav-bar">Forgot Password?</a></li>
                    {% endif %}
                </ul>
            </nav>
            <hr>
        </header>
    </section>
    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>