{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Codex Culinary{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <section>
        <h1><a href="{% url 'today_meals' %}">Codex Culinary</a></h1>
        <header>
            {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}">Log Out</a>
            {% else %}
            <a href="{% url 'accountslogin' %}">Log In</a> | <a href="{% url 'accounts:register' %}">Register</a>
            {% endif %}
            <nav>
            <a href="{% url 'recipes:recipe_list' %}" class="nav-bar">Recipe List</a> | 
            <a href="{% url 'recipes:add_recipe' %}" class="nav-bar">Add Recipe</a> | 
            <a href="{% url 'recipes:import_recipes_csv' %}" class="nav-bar">Import CSV</a>
            </nav>
            <hr>
        </header>
    </section>
    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>