{% extends 'base.html' %}
{% load dict_filters %}
{% block content %}
    <h1>{{ recipe.name }}</h1>
    <p>Servings: {{ recipe.servings }}</p>
    <p>Prep Time: {{ recipe.prep_time }}</p>
    <p>Cook Time: {{ recipe.cook_time }}</p>
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient_name, details in recipe.ingredient_details.items %}
            <li>{{ ingredient_name }}: {{ details.quantity }} {{ details.unit }}</li>
        {% endfor %}
    </ul>

    <h2>Instructions:</h2>
    <ol>
        {% for instruction in recipe.instructions %}
            <li>{{ instruction }}</li>
        {% endfor %}
    </ol>
    {% if recipe.notes %}
        <p>Notes: {{ recipe.notes }}</p>
    {% endif %}
{% endblock %}