{% extends 'base.html' %}
{% block content %}
<h1>All Recipes</h1>
{% if recipes %}
    <div class="recipe-list">
        {% for recipe in recipes %}
        <div class="recipe-item">
            <h2>
                <a href="{% url 'recipes:recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
            </h2>
            <p>
                Prep Time: {{ recipe.prep_time }} | Cook Time: {{ recipe.cook_time }}
            </p>
            <p>
                Categories:
                {% for category in recipe.category %}
                    {{ category }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No recipes added yet.</p>
{% endif %}
{% endblock %}