{% extends 'base.html' %}
{% block content %}
    <h1>{{ recipe.name }}</h1>
    <p>Servings: {{ recipe.servings }}</p>
    <p>Prep Time: {{ recipe.prep_time }}</p>
    <p>Cook Time: {{ recipe.cook_time }}</p>
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient_name in recipe.ingredient_names %}
            <li>{{ ingredient_name }}:
                {% for key, value in ingredient_details.ingredient_name %}
                {{ value.quantity }}
                {{ value.unit }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <h2>Instructions:</h2>
    <ol>
        {% for instruction in recipe.instructions %}
            <li>{{ instruction }}</li>
        {% endfor %}
    </ol>
    {% if recipe.notes %}
        <p>Notes: {{ recipe.notes }}</p>
    {% endif %}
{% endblock %}